<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Car Price Predictor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-info d-flex align-items-center justify-content-center">
    <form
      class="g-3 bg-white px-4 py-3 rounded-2 mt-5"
      onsubmit="onSubmitClick(event)"
    >
      <h3 class="text-uppercase mb-4">car price predictor</h3>
      <div class="mb-3">
        <label for="input1" class="form-label"> Input 1 </label>
        <input type="" class="form-control" id="input1" required />
        <div id="input1" class="form-text">Helper text for input</div>
      </div>
      <div class="mb-3">
        <label for="input2" class="form-label">Input 2</label>
        <input type="" class="form-control" id="input2" required />
      </div>
      <div class="mb-3">
        <label for="input3" class="form-label">Input 2</label>
        <input type="" class="form-control" id="input3" required />
      </div>
      <div class="mb-3">
        <label for="input4" class="form-label">Input 2</label>
        <input type="" class="form-control" id="input4" required />
      </div>
      <div class="mb-3">
        <label for="input5" class="form-label">Input 2</label>
        <input type="" class="form-control" id="input5" required />
      </div>
      <div class="mb-3">
        <label for="input6" class="form-label">Input 2</label>
        <input type="" class="form-control" id="input6" required />
      </div>
      <div class="mb-3">
        <label for="input7" class="form-label">Input 2</label>
        <input type="" class="form-control" id="input7" required />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
